.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movie-input {
  padding: 5px;
  width: 30%;
}

.submit-btn, button {
  padding: 5px;
  width: 10%;
  margin: 10px;
}

.list-item {
  font-size: 2em;
  border: 1px solid black;
  margin: 5px;
  padding:  5px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete {
  color: red;
  font-family: monospace;
  cursor: pointer; 
}

.list-container {
  /* border: 1px solid black; */
  width: 30%;
  text-align: center;
}

.selected {
  background-color: yellow;
}
