@media screen and (max-width: 450px) {
  body {
    padding: 5px;
  }
  .movie-input {
    width: 98%;
    padding: 10px 5px;
    margin: 5px 10px;
  }


  .list-container {
    width: 100%;
  }

  .btn-container {
    width: 100%;
  }
  button, .submit-btn {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
  }

  #add-btn {
    width: 100%;
  }
}
