@media screen and (max-width: 450px) {
  .movie-input {
    width: 100%;
    padding: 10px 2px;

  }


  .list-container {
    width: 100%;
  }

  .btn-container {
    width: 100%;
  }
  button, .submit-btn {
    width: 100%;
    -webkit-appearance: none;
    border-radius: 0;
  }

  #add-btn {
    width: 100%;
  }
}
